.beatsAll {
  background-color: white;
}

.container {
  font-family: 'Montserrat', sans-serif;
  padding-top: 30px;
  min-height: 100%;
}

.theHeading {
  text-align: center;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px black solid;
  letter-spacing: 5px;
}

.beatsAll {
  border: 3px black solid;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1px;
}

.topRow {
  border-bottom: 3px black solid;
}

.beatsRow {
  display: grid;
  grid-template-columns: 70px repeat(32, 1fr);
  grid-gap: 1px;
}

.spot:nth-child(4n + 2) {
  background-color: #828282;
}

.cell {
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}

.spot {
  background-color: #a3a3a3;
}

.spot:hover {
  filter: brightness(90%);
}

.buttons {
  text-align: center;
}

.buttons button {
  height: 40px;
  width: 80px;
  margin: 20px;
}

.icon {
  height: 25px;
}

.playButton {
  display: show;
}

.play {
  height: 20px;
}

.clear {
  width: 23px;
  height: 23px;
}

.pauseButton {
  display: none;
}

.pause {
  width: 23px;
  height: 23px;
}

#snare .snare,
#snare .cellName {
  background-color: lightblue;
}

#bass .bass,
#bass .cellName {
  background: lightgreen;
}

#hihat .hihat,
#hihat .cellName {
  background: salmon;
}

.recordImage {
  display: flex;
  justify-content: center;
}

.record {
  margin-top: 40px;
  border-radius: 50%;
  border: 5px #575756 solid;
  background-color: white;
}

.bars {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
}

.bar1 {
  outline: 1px black solid;
  width: 10%;
  background-color: white;
}

.bar2 {
  outline: 1px black solid;
  width: 10%;
  background-color: white;
}

.bar3 {
  outline: 1px black solid;
  width: 10%;
  background-color: white;
}

.bar4 {
  outline: 1px black solid;
  width: 10%;
  background-color: white;
}

.bar5 {
  outline: 1px black solid;
  width: 10%;
  background-color: white;
}

.bar6 {
  outline: 1px black solid;
  width: 10%;
  background-color: white;
}
