.allBeats {
  border: 3px black solid;
}

.beatsRows {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-gap: 3px;
}

.cell {
  border: 1px black solid;
  background-color: red;
}

.selected {
  background-color: lightblue;
}
